body
{
    margin: 0em;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}
.banner
{
    position: relative;
    min-height: 100vh;
    background: url(projectimage.jpg);
    background-size:cover;
    background-position:center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner h1
{
    font-size: 1.4em;
    color: #fff;
    font-weight: 800;
    line-height: 0.7em;
    margin-left: 10mm;
    letter-spacing: 4px;
    display: flex;
}
.banner h2
{
    font-size: 35px;
    color: #494949;
    font-weight: 800;
    line-height: 2em;
    margin-left: 10mm;
    letter-spacing: 0px;
    text-transform: uppercase;
    display: flex;
}
.banner h3
{
    font-size: 1.25em;
    font-weight: 600;
    color: #fff;
    margin-left: 10mm;
    line-height: 0.7em;
    display: flex;
}
.btn /*Github do home*/
{
    position: relative;
    background: #49494981;
    display: flex;
    color: #fff;
    margin-top: 150px;
    padding: 10px 30px;
    font-size: 35px;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;  
}
header /*contact do menu*/
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    color: #fff;
    font-size: 25px;

}
header .logo /*potfolio do topo esquerdo*/
{
    color: #494949;
    font-size: 35px;
    text-transform: uppercase;
    text-decoration:none;
    font-weight: bolder;
    letter-spacing: 10px;
    display: flex;
}
.heading
{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color:#4949499d;
}
.heading h1
{
    font-weight: 600;
    color:#4949499d;
    font-size: 0px;
    display: flex;
}
.content /*textinho*/
{
    font-size: 25px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    color:#111;
    margin-left: 10mm;
}
.contentTx
{
    padding-right: 0px;
}
.contentTx h3 /*meu nome é gabriela*/
{
 font-size: 30px;
 margin-bottom: 10px;   
 color: #811870;
 display: flex;
}
.contentTx h4
{
    font-size: 30px;
    margin-bottom: 10px;   
    color: #811870;
    display: flex;
}
.contentTx h5
{
    font-size: 25px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    color:#111;
    margin-left: 10mm;
}
img
{
max-width: 100%;
margin-left: 2mm;
display: flex;
}
